* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #d9d9d9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

h2 {
  color: #f9f4da;
  font-size: 30px;
  font-weight: 500;
}

div {
  text-align: center;
}

.win {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #10a95b;
  border-radius: 4px;
  padding: 30px 6px;
}

.winP {
  margin: 0;
  font-size: 27px;
  font-weight: 500;
  color: #f9f4da;
}

.hangmanDesc {
  color: #f9f4da;
}

.wellDone {
  margin: 0;
}

.languageElementsDiv {
  margin: 30px auto 0px auto;
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  justify-content: center;
  align-items: center;
}

.divDisplayLetters {
  margin-top: 100px;
}

.spanElement {
  font-family: "Hanken Grotesk";
  font-weight: 700;
  font-size: 18px;
  margin-right: 4px;
  border-bottom: 1px solid #f9f4da;
  background-color: #323232;
  padding: 20px;
}

.displayKeyboard {
  margin: 120px auto 0px auto;
  display: flex;
  flex-wrap: wrap;
  width: 490px;
  justify-content: center;
}

.keyboardButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 45px;
  font-family: "Hanken Grotesk";
  font-weight: 700;
  font-size: 16px;
  background-color: #fcba29;
  border: 1px solid #d7d7d7;
  margin: 2px;
  border-radius: 4px;
  padding: 11px;
  color: #1e1e1e;
}
